h1 {
  font-size: 60px;
  font-family: 'Caprasimo', cursive;
  color: palevioletred;
}

h3 {
  font-size: 25px;
  font-family: 'roboto', sans-serif;
}

li {
  font-size: 30px;
  color: purple;
}

a {
  font-family: 'Gemunu Libre', sans-serif;
}

.cat-image {
  width: 580px;
  border-width: 10px;
  border-style: ridge;
  border-color: palevioletred;

}

.rounded {
  border-radius: 150px;
}
