img[alt]{
  border-radius: 50%;
}

input[type="radio"] {
 margin: 10px;
}

input[type="checkbox"] {
  margin: 15px;
}

a[href="https://iso.500px.com/cat-photography-tips/"]{
  color:rgb(238, 16, 190);
  text-decoration: none;
  font-size: 20px;
}


  #title-app-cats{
  font-size: 60px;
  font-family: 'Caprasimo', cursive;
  color: palevioletred;
}

/* #cat-image {
  width: 580px;
  border-radius: 50%;
  border-width: 10px;
  border-style: ridge;
  border-color: palevioletred;
}

#cat-list-love{
  font-size: 30px;
  color: purple;
}

#list-cat-hate{
  font-size: 18px;
  color: rgb(199, 71, 199);
  font-family: arial, helvetica, sans-serif;

}

div {
  border-width: 6px;
  border-color: black;
  border-style: solid;
}

img {
  margin: 25px;
  padding: 25px;
  border-width: 6px;
  border-color: black;
  border-style: solid;
} */
