body{
  background-color: lightpink;
  color: purple;
}

h3 {
  font-size: 30px;
  font-family: 'roboto', sans-serif;
  color: palevioletred;
}

img[alt]{
  border-radius: 50%;
  border-width: 10px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
}

input[type="radio"] {
 margin: 10px;
}

input[type="checkbox"] {
  margin: 15px;
}

a[href="https://iso.500px.com/cat-photography-tips/"]{
  color:rgb(238, 16, 190);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  font-family: 'roboto', sans-serif;
}

   #title-app-cats{
  font-size: 60px;
  font-family: 'Caprasimo', cursive;
  color: palevioletred;
}

#main-container{
  color: white;
  padding:5px;
  font-size: 40px;
  background-color:yellow;
  font-family: verdana, Geneva, Tahoma, sans-serif;
}

.rectangle{
  padding: 20px;
  margin: 10px;
}

.px {
  background-color: crimson;
  width: 200px
}

.vw{
  background-color: rgb(98, 90, 208);
  width: 20vw;
}

.em{
  background-color: rgb(232, 25, 207);
  width: 15em;
  font-size: 1.5em;
}


/* #cat-image {
  width: 580px;
  border-radius: 50%;
  border-width: 10px;
  border-style: ridge;
  border-color: palevioletred;
}

#cat-list-love{
  font-size: 30px;
  color: purple;
}

#list-cat-hate{
  font-size: 18px;
  color: rgb(199, 71, 199);
  font-family: arial, helvetica, sans-serif;

}

div {
  border-width: 6px;
  border-color: black;
  border-style: solid;
}

img {
  margin: 25px;
  padding: 25px;
  border-width: 6px;
  border-color: black;
  border-style: solid;
} */

/*Pinguino*/

.pinguino {
  --pinguino-barriga: rgb(237, 226, 226);
  --pinguino-pico: yellow;
  --pinguino-mejillas: rgb(255, 139, 159);
  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 300px;
  height: 300px;
}

.pinguino-superior {
top: 10%;
left: 25%;
background: black;
width: 50%;
height: 45%;
border-radius: 70% 70% 60% 60%;
}

.pinguino-inferior {
top: 40%;
left: 23.5%;
background: black;
width: 53%;
height: 45%;
border-radius: 70% 70% 100% 100%;
}

.mano-derecha {
top: 0%;
left: -5%;
background: black;
width: 30%;
height: 60%;
border-radius: 30% 30% 120% 30%;
transform: rotate(45deg);
z-index: -1;
}

.mano-izquierda {
top: 0%;
left: 75%;
background: black;
width: 30%;
height: 60%;
border-radius: 30% 30% 30% 120%;
transform: rotate(-45deg);
z-index: -1;
}

.mejilla-derecha {
top: 15%;
left: 35%;
background: var(--pinguino-barriga, white);
width: 60%;
height: 70%;
border-radius: 70% 70% 60% 60%;
}

.mejilla-izquierda {
top: 15%;
left: 5%;
background: var(--pinguino-barriga, white);
width: 60%;
height: 70%;
border-radius: 70% 70% 60% 60%;
}

.barriga {
top: 60%;
left: 2.5%;
background: var(--pinguino-barriga, white);
width: 95%;
height: 100%;
border-radius: 120% 120% 100% 100%;
}

.pie-derecho {
top: 85%;
left: 60%;
background: var(--pinguino-pico, orange);
width: 15%;
height: 30%;
border-radius: 50% 50% 50% 50%;
transform: rotate(-80deg);
z-index: -2222;
}

.pie-izquierdo {
top: 85%;
left: 25%;
background: var(--pinguino-pico, orange);
width: 15%;
height: 30%;
border-radius: 50% 50% 50% 50%;
transform: rotate(80deg);
z-index: -2222;
}

.ojo-derecho {
top: 45%;
left: 60%;
background: black;
width: 15%;
height: 17%;
border-radius: 50%;
}

.ojo-izquierdo {
top: 45%;
left: 25%;
background: black;
width: 15%;
height: 17%;
border-radius: 50%;
}

.reflejo-ojos {
top: 25%;
left: 15%;
background: white;
width: 35%;
height: 35%;
border-radius: 50%;
}

.color-mejilla-derecha {
top: 65%;
left: 15%;
background: var(--pinguino-mejillas, pink);
width: 15%;
height: 10%;
border-radius: 50%;
}

.color-mejilla-izquierda {
top: 65%;
left: 70%;
background: var(--pinguino-mejillas, pink);
width: 15%;
height: 10%;
border-radius: 50%;
}

.pico-superior {
top: 60%;
left: 40%;
background: var(--pinguino-pico, orange);
width: 20%;
height: 10%;
border-radius: 50%;
}

.pico-inferior {
top: 65%;
left: 42%;
background: var(--pinguino-pico, orange);
width: 16%;
height: 10%;
border-radius: 50%;
}


.pinguino * {
position: absolute;
}
